<div>  
    <%=render 'users/user', user: @user %>

<div class="post-create-btn-container">
  <button type="button" class="post-create-btn">
    <%= link_to "Create a new post", new_user_post_path %>
  </button>
</div> 
  <div>
    <% @posts.each do |post| %>
      <%=render 'post', post: post %>
      <div class="my_border de_post_comments">
        <% post.five_recent_comments.each do |comment| %> 
            <%=render 'shared/comment', comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= button_tag 'Pagination', type: 'button', class: "btn pagination" %>
</div>