<div>  
  <%=render 'users/user', user: @user %>

  <button type="button" class="create_btn my_border">
    <%= link_to "Create new post", new_user_post_path %>
  </button>


  <div>
    <% @posts.each do |post| %>
      <%=render 'post', post: post %>
      <div class="my_border de_post_comments">
        <% post.five_recent_comments.includes(:author).each do |comment| %>
            <%=render 'shared/comment', comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= button_tag 'Pagination', type: 'button', class: "btn pagination" %>
</div>