<div class="full_post_container">
  <div class="my_border">
    <div class="full_post_header" >
      <span>
        <%= @post.title %> by
        <%= @user.name  %>
      </span>
      <div>      
        <span>Comments: <%= @post.comments_counter %>
        </span>,
        <span>Likes: <%= @post.likes_counter %>
        </span>      
      </div>
    </div>
    <div class="post_text">
      <%= @post.text %>
    </div>
  </div>

  <%= button_to 'Like',
    user_post_likes_path(post_id: @post.id),
    class: 'create_btn my_border'
  %>

  <div class="my_border de_post_comments">
    <% if @post.comments.empty? %>
     <Span>No comment</span>
    <% else  %>
      <% @post.comments.each do |comment| %> 
            <%=render 'shared/comment', comment: comment %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: 'shared/comment_form', locals: { post_id: @post.id, user_id: @current_user.id } %>   
</div>